.sidebarCard {
  //   background-color: rgba(209, 206, 206, 0.733);
  .wrapper {
    display: flex;
    flex-direction: column;

    .accountNumber {
      width: 20rem;
      background-color: rgb(243, 161, 175);
      border-radius: 5px;
      padding: 2.5%;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      box-shadow: 1px 1px 2px rgb(114, 82, 87),
        1px 2px 2px rgba(114, 82, 87, 0.795);
      &:hover {
        box-shadow: 1px 1px 2px rgb(114, 82, 87),
          1px 5px 2px rgba(114, 82, 87, 0.795);
      }
      h1 {
        align-self: center;
        //   justify-self: center;
        margin-bottom: 10px;
        font-size: 40px;
        text-shadow: 0.5px 3px 3px rgb(216, 210, 210);
      }
    }

    .card {
      background-color: rgb(243, 161, 175);
      display: flex;
      width: 20rem;
      height: 5rem;
      border-radius: 10px;
      align-items: center;
      margin-bottom: 10px;
      padding: 10px;
      cursor: auto;
      box-shadow: 1px 1px 2px rgb(114, 82, 87),
        1px 2px 2px rgba(114, 82, 87, 0.795);

      &:hover {
        box-shadow: 1px 1px 2px rgb(114, 82, 87),
          1px 5px 2px rgba(114, 82, 87, 0.795);
        //   1px 4px 2.5px rgba(75, 53, 56, 0.705),
        //   1px 6px 3px rgba(56, 40, 42, 0.685);
      }

      // &:active {
      //   box-shadow: 0.5px 0.8px 1px rgb(114, 82, 87),
      //     0.7px 1.2px 1px rgba(114, 82, 87, 0.795);
      // }
      .left {
        .icon {
          font-size: 35px;
        }
      }
      .right {
        display: flex;

        h4 {
          font-size: 20px;
          margin-right: -10px;
        }
        // span {
        //   font-size: 20px;
        //   cursor: pointer;
        // }
      }
    }
  }
}
