@import "../../global.scss";

.transfer {
  height: calc(100vh-30px);
  padding: 3rem 7rem;
  padding-bottom: 15em;
  color: rgb(88, 79, 79);
  background-color: rgba(209, 206, 206, 0.733);

  @include thirdBreak {
    width: 100vw;
    height: 100vh;
    // background-color: red;
    padding: 0;
    // padding-bottom: 20px;
    padding-top: 7em;
  }

  @include seventhBreak {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-bottom: 10rem;
    padding-top: 5rem;
  }

  .wrapper {
    display: flex;
    margin-top: 4%;

    flex-wrap: wrap;
    align-items: center;
    .left {
      flex: 4;
    }

    .right {
      flex: 8;
      display: flex;
      flex-direction: column;
      align-items: center;

      .form {
        margin-top: 40px;
        padding: 10px;

        form {
          display: flex;
          flex-direction: column;
          align-items: center;
          input {
            height: 40px;
            width: 600px;
            margin-bottom: 15px;
            border: 1px solid rgb(184, 103, 147);
            padding: 10px;
            font-size: 15px;
            border-radius: 8px;

            @include sixthBreak {
              width: 400px;
            }
            @include seventhBreak {
              width: 200px;
              height: 20px;
            }
            &:focus {
              outline: none;
            }
          }
          span {
            width: 300px;
            padding: 10px;
            margin-top: -8px;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
              flex: 8;
              font-size: 20px;
            }
            .icon {
              color: green;
            }
          }
          button {
            width: 200px;
            height: 40px;
            font-size: 15px;
            font-weight: 500;
            cursor: pointer;
            background-color: rgba(218, 144, 157, 0.842);
            border-radius: 5px;
            border: none;
            box-shadow: 0.2px 1px 1px rgba(136, 81, 90, 0.842),
              0.5px 2px 1px rgba(107, 65, 72, 0.781),
              0.8px 3px 1px rgba(87, 52, 58, 0.733);

            &:active {
              box-shadow: inset 1px 1px 1px rgba(48, 30, 33, 0.842);
            }
          }
        }
      }
    }
  }
}
